:root {
    --light: #F4F6F6;
    --dark: #2E3347;
    --contrast: #99D1D5;
}

/* Element selectors */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark);
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    background-color: var(--dark);
}

header h1 {
font-size: 250%;
background-color: var(--contrast);
margin: 1% 1% 1% 0%;
padding-left: 4%;
color: var(--dark);
}

header a {
    font-size: 105%;
    color: #99D1D5;
    border-bottom: 1px solid var(--contrast);
    text-decoration: none;
}

header a::before, header a::after {
    content: "-";
    color: var(--dark);
}

nav {
    margin-right: 9%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

header nav ul li {
    margin: 2%;
    display: inline-block;
}

main {
    margin: 1% 5% 1% 5%;
}

section {
    display: flex;
}

article {
    display: flex;
    margin: 3% 0; 
}

p {
    margin: 1%;
}

/* Class specific selectors */
.hero-img {
    width: 100%;
    height: 15vh;
    margin-bottom: 1%;
    background-image: url("../images/ocean.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero-txt {
  background-color: var(--contrast);
  color: var(--dark);
  margin: 0 5% 1% 0;
  font-size: 175%;
}

.outer-container {
    width: 15%;
    border-right: 4px solid;
    padding-right: 1%;
}

.outer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    font-size: 250%;
    padding-right: 0.5%;
}

.inner {
    margin-left: 3%;
    width: 85%;
    
}

.inner ul {
    padding: 0 3%;
    display: flex;
    justify-content: space-around;
    /* (2 * 250%) due to .outer having 2 divs */
    line-height: 500%;
}

.inner ul a {
    font-size: 105%;
    color: var(--dark);
    border-bottom: 1px solid var(--dark);
    text-decoration: none;
}

.inner ul a::before, .inner ul a::after {
    content: "-";
    color: var(--light);
}

.pic {
    width: 175px;
    float: right;
    border-radius: 15%;
    margin-left: 1%;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-cards {
    width: 49.5%;
    height: 10vh;
    margin-bottom: 1%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid var(--contrast);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.work-cards:nth-child(1) {
    width: 100%;
}

.work-cards:hover {
    filter: brightness(1.125)
}

.work-cards a {
    position: relative;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.work-cards span {
    font-size: 65%;
}

.work-cards-text {
    background-color: var(--contrast);
    color: var(--dark);
    margin: 0 0% 1% 0;
    font-size: 125%;
    white-space: nowrap;
    padding: 8px;
}

/* ID selectors */
#workday-scheduler {
    background-image: url("../images/workday-scheduler.jpg");
}

#question-game {
    background-image: url("../images/question-game.jpg");
}

#password-generator {
    background-image: url("../images/password-generator.jpg");
}

#prework-study-guide {
    background-image: url("../images/prework-study-guide.jpg"); 
}

#seo-refactor {
    background-image: url("../images/seo-refactor.jpg"); 
}

#coming-soon {
    background-image: url("../images/coming-soon.jpg");
}

@media only screen and (max-width: 1024px) {
   /* 769px — 1024px: Small screens, laptops */
    * {
        font-size: 98%;
    }

    .outer {
        font-size: 150%;
    }

    #contact-me .inner ul {
        flex-direction: column;
        line-height: 1.5;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    /* 320px — 480px: Mobile devices */
    /* 481 - 768: Ipads, Tablets */
    * {
        font-size: 95%;
    }
    header {
        flex-wrap: wrap;
    }
    header h1, nav {
        min-width: 100%;
        justify-content: center;
        text-align: center;
        margin: 1% 0 1% 0;
        padding: 0;
        white-space: normal;
    }
    header a::before, header a::after {
        content: "";
        color: var(--dark);
    }
    header ul li {
        width: 100%;
    }
        nav {
        margin-top: 0;
    }
    main {
        margin: 0;
    }
    article {
        flex-wrap: wrap;
        justify-content: center;
    }
    .hero-txt {
        margin: 0 5% 5% 0;
    }
    .outer-container {
        width: 100%;
        border-bottom: 4px solid;
        border-right: 0;
        padding-right: 0;
    }
    .outer {
        justify-content: center;
        width: 100%;
        font-size: 150%;
        padding-right: 0;
    }
    .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .inner {
        width: 95%;
        margin: 2% 0;
    }
    .work-cards {
        width: 100%;
    }
}